// 整体主题色变量
:root {
  --global-font-size: 14px;

  --primary: #b3b7ff;
  --router-color: #dddddd;
  --font-color: #4b4948;
  --title-font: rgb(255, 192, 203);
  --second-font-color: #b3b7ff;
  --hot-color: #f00;
  --md-active: #49b1f5;
  --global-white: #fff;
  --global-black: #000;
  --global-shadow-white: rgba(255, 255, 255, 0.5);
  --meta-color: #858585;
  --comment-grey: #a4a4a4;
  --border-color: #7ec4f2;
  --hr-border: #a9d5f4;
  --top: #f26c60;
  --error: #f56c6c;
  // music
  --music-main-active: #62c28a;
  --music-main-bg: #fff;
  --mask-bg: rgba(0, 0, 0, 0.5);
  --shadow-button-bg: rgba(210, 210, 210, 0.5);
  --card-bg: rgb(248, 237, 252);
  --card-box-shadow: 0 3px 6px 3px rgba(7, 17, 27, 0.06);
  --card-hover-box-shadow: 0 5px 6px 3px rgba(7, 17, 27, 0.15);
  --chat-bg: #e6e6e6;
  --global-gradient: #fff;
  --global-gradient-pink: rgb(248, 237, 252);
  --global-gradient-card: rgb(248, 237, 252);

  --header-bg: rgba(29, 30, 31, 0.5);
  --home-bg: #303030;
  --home-mask-color: rgba(0, 0, 0, 0.2);

  --menu-color: #fff;

  --button-linear-gradient: linear-gradient(300deg, #ffb9f3 0%, #fa1fc3 100%);
  --button-linear-gradient-h: linear-gradient(300deg, #fa1fc3 0%, #ffb9f3 100%);

  --wave-one-color: rgba(248, 237, 252, 0.7);
  --wave-two-color: rgba(248, 237, 252, 0.5);
  --wave-three-color: rgba(248, 237, 252, 0.3);
  --wave-four-color: rgba(248, 237, 252, 1);
  --bangumi-color: #333;
}

html.dark {
  --font-color: #b8b8b8;
  --global-gradient: #282828;
  --card-bg: #303030;
  --shadow-button-bg: rgba(0, 0, 0, 0.2);
  --home-bg: #282828;
  --home-mask-color: rgba(0, 0, 0, 0.4);
  --music-main-bg: #303030;
  // --menu-color: var(--font-color);
  --bangumi-color: #b8b8b8;
  --button-linear-gradient: linear-gradient(300deg, #ffb9f3 0%, #fa1fc3 100%);
  --button-linear-gradient-h: linear-gradient(300deg, #fa1fc3 0%, #ffb9f3 100%);
  --title-font: black;

  --wave-one-color: rgba(17, 17, 17, 0.7);
  --wave-two-color: rgba(17, 17, 17, 0.5);
  --wave-three-color: rgba(17, 17, 17, 0.3);
  --wave-four-color: rgba(17, 17, 17, 1);
  --global-gradient-pink: #111;
  --global-gradient-card: #1d1e1f;


}